div.center-content[b-je8oko6ni0] {
    text-align: center;
    width: min(720px, 100%);
    margin-left: auto;
    margin-right: auto;
    
    padding: 0.75em;
    
    min-height: 80vh;
    
    background-color: white;
}

pre[b-je8oko6ni0] {
    padding: 5px;
    border-radius: 5px;
    
    width: min(500px, 95vw);
    margin-left: auto;
    margin-right: auto;

    background-color: #AAA;
}

#codedash-problem input[b-je8oko6ni0] {
    border: 1px solid gray;
    border-bottom: 3px solid black;
}

#codedash-problem input.blank-correct[b-je8oko6ni0] {
    border-bottom-color: #0A0 !important;
}

#codedash-problem input.blank-wrong[b-je8oko6ni0] {
    border-bottom-color: #A00 !important;
}