div.form-grid[b-ebiknegjl5] {
    display: grid;
    gap: 0.5rem;
    
    align-self: stretch;
}

div.form-box[b-ebiknegjl5] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: min(500px, 100%);

    padding: 0.5rem;
    border-radius: 3px;

    border: 1px solid gray;
    background-color: gainsboro;
}
label[b-ebiknegjl5] {
    text-align: left;
}

label[for="signup-username"][b-ebiknegjl5] {
    grid-column: 1;
    grid-row: 1;
}

input#signup-username[b-ebiknegjl5] {
    grid-column: 2;
    grid-row: 1;
}

label[for="signup-password"][b-ebiknegjl5] {
    grid-column: 1;
    grid-row: 2;
}

input#signup-password[b-ebiknegjl5] {
    grid-column: 2;
    grid-row: 2;
}