@page "/Codedash/{hexdump}"
@inject HttpClient HttpClient
@using codedash.Shared
@using System.Text

<span style="white-space: pre">Input sequence:</span>
<button @onclick="Parse">Parse</button>

<pre id="codedash-problem">
@foreach (var block in pbs)
{
    if (block.IsInput)
    {
        <input size="@block.FieldLength.ToString()"/>
    }
    else
    {
        <span style="white-space: pre">@block.Content</span>
    }
}
</pre>

<button @onclick="Submit">Submit</button>

@code {
    [Parameter]
    public string? hexdump { get; set; }
    private List<ProblemBlock> pbs = new();
    private List<string> inputs = new();

    private void Parse()
    {
        byte[] data = FromHex(hexdump);
        string str = Encoding.ASCII.GetString(data);

        byte[] FromHex(string hex)
        {
            hex = hex.Replace("-", "");
            var raw = new byte[hex.Length / 2];
            for (int i = 0; i < raw.Length; i++)
            {
                raw[i] = Convert.ToByte(hex.Substring(i * 2, 2), 16);
            }
            return raw;
        }

        pbs = ProblemBlock.ParseProblemString(str);
        // foreach (ProblemBlock chunk in pbs.Where(chunk => chunk.IsInput)) inputs.Add(string.Empty);
        Console.WriteLine("DEBUG// Done");
    }

    private void Submit()
    {
        foreach (string input in inputs) Console.WriteLine($"Input: {input}.");
        SendToController();
    }

    private async Task SendToController()
    {
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("ProblemApi/Verify/27aad10f-f8d2-4a4a-ab84-351eec0244e0", inputs);
        List<int> results = response.Content.ReadFromJsonAsync<List<int>>().Result!;
        foreach (int x in results) Console.WriteLine(x);
    }

}