@page "/Codedash"
@using codedash.Client.Data
@using System.Text.Json

<pre id="codedash-problem">
@foreach (var block in pbs)
{
    if (block.IsInput)
    {
        <input size="@block.FieldLength"/>
    }
    else
    {
        <span style="white-space: pre">@block.Content</span>
    }
}
</pre>

@code {
    private static string tempSequence = "for i in range(6):\n    print(\u001F0\u001F-1\u001E\"ay\"\u001F1\u001F6\u001E, end='')\nprint('9')\n\nprint('ay' * 64 + '9')\u001F0\u001F-1";
    
    private List<ProblemBlock> pbs = ProblemBlock.ParseProblemString(tempSequence);
}