@page "/Codedash"
@inject HttpClient HttpClient
@using codedash.Shared
@using Microsoft.AspNetCore.Components
@using codedash.Client.Data

<pre id="codedash-problem">
@foreach (var i in pbs.Collect(0, (idx, block) =>
{
    var next = block.IsInput ? idx + 1 : idx;
    return (new {Index = idx, Block = block}, next);
}))
{
    if (i.Block.IsInput)
    {
        <input @bind="inputs[i.Index]" size="@i.Block.FieldLength.ToString()"/>
    }
    else
    {
        <span style="white-space: pre">@i.Block.Content</span>
    }
}
</pre>

<button @onclick="Submit">Submit</button>

@code {
    // "ay" problem: 27aad10f-f8d2-4a4a-ab84-351eec0244e0
    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public string? id { get; set; }

    private string title = "";
    private List<ProblemBlock> pbs = new();
    private List<string> inputs = new();

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await HttpClient.GetAsync($"ProblemApi/Get/{id}");
        var p = (await response.Content.ReadFromJsonAsync<Problem>())!;
        Console.WriteLine(id);
        
        title = p.Title!;
        pbs = ProblemBlock.ParseProblemString(p.Chunks!);
        // Resize input list to match
        inputs.Resize(pbs.Aggregate(0, (curr, next) => next.IsInput? curr + 1 : curr), "");
        
    }

    private async void Submit()
    {
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync($"ProblemApi/Verify/{id}", inputs);
        List<int> results = response.Content.ReadFromJsonAsync<List<int>>().Result!;
        foreach (int x in results) Console.WriteLine(x);
    }

}