@page "/"
@inject HttpClient HttpClient
@inject IJSRuntime JS
@using codedash.Shared

<PageTitle>Home</PageTitle>

<h1>Welcome to codedash!</h1>
<pre id="codedash-problem-block">
@foreach (string str in peopleList)
{
    if (str.Equals("ayay9"))
    {
        <p style="color: blue">@str</p>
    }
    else
    {
        <p>@str</p>
    }
}
</pre>


@code {
    private List<string> peopleList = new() { "ayay9", "doris", "superminer" };

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}