@page "/"
@inject HttpClient _httpClient
@inject IJSRuntime _js
<style>
    body {
      background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }
</style>
<PageTitle>Home</PageTitle>
<div class="center-content">
    <h1>Welcome to codedash!</h1>
    <h3 class="fw-bold">
        What is codedash?
    </h3>
    <p class="mb-3">
        Codedash is an interactive and engaging game where you can test your programming skills, learn new algorithms and coding design patterns, and most importantly, have FUN!
    </p>
    <h3 class="fw-bold">
        How to Play?
    </h3>
    <p>
        It’s as simple as 1, 2, 3!

        Fill in the missing code in the given code so that it matches the given output when run!

        The game will output your code underlined in red or green for correct and incorrect code respectively!

        Compete with other players! Make an account and try to complete each level in the least time!
    </p>
    <div class="text-center">
        <a class="btn btn-success" href="/codedash">Play now!</a>
    </div>

    <h3 class="fw-bold">
        Account
    </h3>
    <p>
        By making an account, you have access to:
    </p>
    <ul style="list-style-type: '- '">
        <li>Submitting and Voting: Use the forum, submit problems, and vote for problems to be implemented into the game!</li>
        <li>Account Statistics</li>
        <li>View your number of codedash levels solved</li>
        <li>Your average time spent per level</li>
        <li>Number of completed codedashes</li>
        <li>A nice, fancy username you can call your own!</li>
    </ul>
</div>