@page "/"
@inject HttpClient HttpClient
@inject IJSRuntime JS
@using codedash.Shared

<PageTitle>Home</PageTitle>

<h1>Welcome to codedash!</h1>
<p>
    <!--This is what the lorem ipsum actually translates to: https://www.lipsum.com/-->
    This is placeholder text. This sentence is also placeholder text. 
    I'm lazy, so I'll just repeat these sentences.
    This is placeholder text. This sentence is also placeholder text. 
    I'm lazy, so I'll just repeat these sentences.
    This is placeholder text. This sentence is also placeholder text. 
    I'm lazy, so I'll just repeat these sentences.
    This is placeholder text. This sentence is also placeholder text. 
    I'm lazy, so I'll just repeat these sentences.
    This is placeholder text. This sentence is also placeholder text. 
    I'm lazy, so I'll just repeat these sentences.
    This is placeholder text. This sentence is also placeholder text. 
    I'm lazy, so I'll just repeat these sentences.
</p>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}