@page "/Logout"
@using Blazored.LocalStorage
@inject HttpClient HttpClient
@inject ILocalStorageService localStorage

<br/>
<style>
    body {
      background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }
</style>
<body>
    <h3>Thank you for playing codedash!</h3>
</body>

@code {
    string? _result;
    HttpResponseMessage? _response;

    protected override async Task OnInitializedAsync()
    {
        _result = await localStorage.GetItemAsync<string>("loginToken");
        _response = await HttpClient.DeleteAsync($"TokenApi/Logout/{_result}");
        Console.WriteLine(_response);
        await localStorage.RemoveItemAsync("loginToken");
    }

}