@page "/Logout"
@using Blazored.LocalStorage
@inject HttpClient _httpClient
@inject ILocalStorageService _localStorage
@inject NavigationManager _navigationManager

<br/>
<style>
    body {
      background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }
</style>
<body>
<h3>Thank you for playing Codedash!</h3>
</body>

@code {
    String? _result;
    HttpResponseMessage? _response;

    protected override async Task OnInitializedAsync()
    {
        _result = await _localStorage.GetItemAsync<String>("loginToken");
        _response = await _httpClient.DeleteAsync($"TokenApi/Logout/{_result}");
        Console.WriteLine(_response);
        await _localStorage.RemoveItemAsync("loginToken");

        await Task.Delay(3);
        _navigationManager.NavigateTo("/");
    }

}