@page "/Logout"
<br/>
<style>
    body {
      background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }
</style>
<body>
    <h3>Thank you for playing codedash!</h3>
</body>

@code {
    protected override async Task OnInitializedAsync()
    {
    }

}