@page "/Register"
@inject ILocalStorageService localStorage
@inject HttpClient HttpClient
@using Blazored.LocalStorage
@using codedash.Shared
@using System.Security.Cryptography
@using System.Text
<style> 
input[type~="text"],[type~="password"]{
  width: 100%;
  padding: 2px 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}
</style>
<style>
    body {
      background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }
</style>

<div align="center">
    <body align="center">
        <p>&nbsp</p>
        <h1 class="text-center">Register</h1>
        <p>&nbsp</p>
        <div class="center">
            <div style = "color: #525151" class="form-box">
                <div class="form-grid">
                    <div class="text-start">
                        <label for="signup-username">Username</label>
                    </div>
                    <input type="text"@bind="Username" id="signup-username" />
                    <div class="text-start">
                        <label for="signup-password">Password</label>
                    </div>
                    <input type="password" @bind="Password" id="signup-password" />
                    <div class="text-start">
                        <label for="signup-display">Display name</label>
                    </div>
                    <input type="text"@bind="DisplayName" id="signup-display" />
                </div>
                  
                <button @onclick="AddToClass" class="btn btn-primary mt-3 align-self-end">Register!</button>
                <a class="mt-4 align-self-end" href="/login">I already have an account</a>
            </div>
        </div>
    
    </body>

</div>


@code {
    private string accountToken = "";
    private bool isVisible = true;
    private Guid Id;
    // ReSharper disable InconsistentNaming
    private string? Username, Password, DisplayName;
    // ReSharper restore InconsistentNaming

    private Account NewAccount { get; } = new();

    private void AddToClass()
    {
        string usernameHash, passwordHash;
        byte[] usernameBytes = Encoding.UTF32.GetBytes(Username ?? string.Empty);
        byte[] passwordBytes = Encoding.UTF32.GetBytes(Password ?? string.Empty);
        using (var sha512 = SHA512.Create())
        {
            byte[] hashedUsernameBytes = sha512.ComputeHash(usernameBytes);
            byte[] hashedPasswordBytes = sha512.ComputeHash(passwordBytes);
            var usernameString = new StringBuilder(128);
            foreach (byte x in hashedUsernameBytes) usernameString.Append(x.ToString("X2"));
            var passwordString = new StringBuilder(128);
            foreach (byte x in hashedPasswordBytes) passwordString.Append(x.ToString("X2"));
            usernameHash = usernameString.ToString().ToLowerInvariant();
            passwordHash = passwordString.ToString().ToLowerInvariant();
        }

        NewAccount.Id = Guid.NewGuid().ToString().ToLowerInvariant();
        NewAccount.UsernameHash = usernameHash;
        NewAccount.PasswordHash = passwordHash;
        NewAccount.DisplayName = DisplayName;
        #pragma warning disable CS4014
        SendToController(NewAccount);
        #pragma warning restore CS4014
    }

    private async Task SendToController(Account account)
    {
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("AccountApi/Register", account);
        accountToken = await response.Content.ReadAsStringAsync();
        await localStorage.SetItemAsync("loginToken", accountToken);
        string x = localStorage.GetItemAsync<string>("loginToken").Result;
    }
}