div.form-grid {
    display: grid;
    gap: 0.5rem;

    align-self: stretch;
}

div.form-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: min(500px, 100%);

    padding: 0.5rem;
    border-radius: 3px;

    border: 1px solid gray;
    background-color: gainsboro;
}

label[for="submit-source"] {
    grid-row: 1;
    grid-column: 1;
}
textarea#submit-source {
    grid-row: 1;
    grid-column: 2;
}
label[for="submit-output"] {
    grid-row: 2;
    grid-column: 1;
}
textarea#submit-output {
    grid-row: 2;
    grid-column: 2;
}
label[for="submit-title"] {
    grid-row: 3;
    grid-column: 1;
}
input#submit-title {
    grid-row: 3;
    grid-column: 2;
}
label[for="submit-title"] {
    grid-row: 4;
    grid-column: 1;
}
input#submit-title {
    grid-row: 4;
    grid-column: 2;
}