@page "/SubmitCustom"
@using System.Text

<textarea @bind="_input"></textarea>
<p>@_output</p>
<button @onclick="Parse">Parse</button>

@code {
    private string _input = "";
    private string _output = "";

    private void Parse()
    {
        string text = _input;
        text = text.Replace(@"/$[", "\u0011");
        text = text.Replace(@"]$\", "\u0011");
        _input = text;
        string[] str = text.Split('\u0011');
        foreach (string s in str) Console.WriteLine(s);
        Console.WriteLine(str.Length);

        var stringBuilder = new StringBuilder();
        for (var i = 0; i < str.Length; ++i)
        {
            if (i % 2 == 0)
            {
                stringBuilder.Append(str[i]);
                stringBuilder.Append("\u001f");
                stringBuilder.Append("0");
                stringBuilder.Append("\u001f");
                stringBuilder.Append("-1");
                stringBuilder.Append("\u001e");
            }
            else
            {
                stringBuilder.Append(str[i]);
                stringBuilder.Append("\u001f");
                stringBuilder.Append("1");
                stringBuilder.Append("\u001f");
                stringBuilder.Append(str[i].Length + 2);
                stringBuilder.Append("\u001e");
            }
        }

        byte[] bytes = Encoding.ASCII.GetBytes(stringBuilder.ToString());
        var hexdump = new StringBuilder();
        foreach (byte b in bytes) hexdump.Append(b.ToString("X2").ToLowerInvariant() + "-");

        _output = hexdump.ToString();
        if (_output.EndsWith("-1e-")) _output = _output.Remove(_output.Length - 4);
    }
}